<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" routerLink="/" routerLinkActive="active">Dating App</a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" dropdown>
          <ng-container  *ngIf="logging">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" routerLink="/members" routerLinkActive="active">Matches</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/lists" routerLinkActive="active">List </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/messages" routerLinkActive="active">messages </a>
            </li>
          </ng-container>
        </ul>
        
        <div class="navbar-nav" *ngIf="(accountservices.CurrentUser$ | async) as user">
          <img src="{{user.photo || '../../../../assets/user.png'}}"  width="40">
          <li class="nav-item btn-group" dropdown>
            <a class="nav-link dropdown-toggle" id="button-animated" dropdownToggle type="button" aria-controls="dropdown-animated"> welcome {{user.knownAs | titlecase}}</a>
            <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-animated">
                <li role="menuitem"><a class="dropdown-item" routerLink="/edit">Edit Profile</a></li>
                <li role="menuitem"><a class="dropdown-item" (click)="logout()">logout</a></li>
            </ul>  
          </li>    
        </div> 
        <form class="d-flex" *ngIf="!logging">
          <input class="form-control me-2" type="text" placeholder="UserName"  name="username" [(ngModel)]="model.username">
          <input class="form-control me-2" type="password" placeholder="password" name="password" [(ngModel)]="model.password">
          <button class="btn btn-success" type="submit" (click)="login()">LogIn</button>
        </form>
      </div>
    </div>
  </nav>